.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked {
  background-color: black; /* Change to desired color */
  border : none;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px; 
  margin-bottom: 20px;
 }