.App {
  padding: 3% 10%;
}

.modal .btn {
  width: 55px;
}

.student .title {
  width: 100px;
}

.courses .title {
  width: 100px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="checkbox"]:checked {
  background-color: black; /* Change to desired color */
  border : none;
}